<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>servicios bootstrap - c24825</title>
	<!-- link css bootstrap -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<header class="col-lg-12 col-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="#">Navbar</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Features</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Pricing</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link disabled">Disabled</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</header>
		</div>
	</div>
	<main class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-12">
				<h1>SEVICIOS</h1>
			</div>
			<div class="col-lg-4 col-6">
				<img src="../assets/img/img_lebron.png" alt="lj" class="img-fluid">
			</div>
			<div class="col-lg-6 col-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Fuga natus distinctio nesciunt expedita qui, beatae impedit praesentium rerum perferendis, itaque, temporibus facilis minima. Quidem tempora ducimus exercitationem ipsam itaque quo.</p>
			</div>
			<div class="col-lg-2 col-12">
				<h3>HOLA HOLA</h3>
			</div>
		</div>
	</main>
	<div class="container-fluid">
		<footer class="row">
			<div class="col-lg-4 col-12">
				<h3>LOGO</h3>
			</div>
			<div class="col-lg-4 col-12">
				<h3>REDES SOCIALES</h3>
			</div>
			<div class="col-lg-4 col-12">
				<h3>CONTACTO</h3>
			</div>
		</footer>
	</div>


	<!-- scripts bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>